body{
margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;
}

#videoFondo{
position:fixed;
right:0;
bottom:0;
min-width:100%;
min-height:100%;
z-index:-2;
object-fit:cover;
}

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
z-index:-1;
}

.logoContainer{
position:relative;
margin-top:60px;
margin-bottom:60px;
}

.titulo{

font-family:'Orbitron',sans-serif;
font-size:90px;
letter-spacing:12px;

color:#1f3cff;

-webkit-text-stroke:2px #7ec8ff;

text-shadow:
0 0 10px #1f3cff,
0 0 25px #1f3cff,
0 0 45px #0a1aff;

position:relative;
display:inline-block;

}

.titulo::after{

content:"";
position:absolute;
left:-5%;
top:0;
width:110%;
height:100%;

border-top:2px solid #7ec8ff;
border-bottom:2px solid #7ec8ff;

animation:rayoBorde 3s linear infinite;

opacity:0.8;

}

@keyframes rayoBorde{

0%{
transform:translateX(-100%);
opacity:0;
}

50%{
opacity:1;
}

100%{
transform:translateX(100%);
opacity:0;
}

}

#fireworks{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:20px 40px 40px 40px;
}

.nft{
background:rgba(0,0,0,0.7);
padding:10px;
border-radius:10px;
}

.nft img{
width:100%;
border-radius:10px;
cursor:pointer;
}

.botones{
margin-top:10px;
}

.botones button{
margin:5px;
font-size:18px;
cursor:pointer;
background:none;
border:none;
color:white;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
align-items:center;
justify-content:center;
}

.modal img{
max-width:90%;
max-height:90%;
}
